<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Laptop</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{navbarFile::breadcrumbfragment}"></div>
 
<div th:each="laptop : ${laptops}">
<div class="card shadow-sm">
            <img src="https://i.imgur.com/A8eQsll.jpg" class="card-img-top">
            <div class="card-body">
              <th>Manufacturer: </th><th th:text="${laptop.getManufacturer()}"/></br>
              <th>Model: </th><th th:text="${laptop.getModel()}"/></br>
              <th>Touch: </th><th th:text="${laptop.getScreen()}"/></br>
              <th>Ram: </th><th th:text="${laptop.getRam()}"/></br>
              <th>Processor: </th><th th:text="${laptop.getProcessor()}"/></br>
              <th>Ram  Gpu: </th><th th:text="${laptop.getRamGpu()}"/></br>
              <th>Count Usb: </th><th th:text="${laptop.getCountUsb()}"/></br>
              <th>Cost: </th><th th:text="${laptop.getCost()}"/></br>
            </div>
          </div>
          </div>
</body>
</html>